* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
font-size: 62.5%;
height: 100%;
width: 100%;

}

body {
    background: url(../images/background2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    line-height: 1.5;
    letter-spacing: .045em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.page {
    /* background-color: #454057; */
    width: 90%;
    height: 95%;
    /* border: 2px dotted #FDD564; */
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: hidden;
}

.mainTitle {
    text-align: center;
    font-size: 7em;
    font-family: 'Knewave', cursive;
    /* color: #FDD564; */
    -webkit-text-stroke: 4px #3D3659;
    -webkit-text-fill-color: #FDD564;
    -webkit-paint-order: stroke fill;
}

.introPage {
    /* background-color: #3D3659; */
    min-height: 0;
    height: 95%;
    max-height: 95%;
    /* border: 2px dotted #FDD564; */
    /* display: flex; */
    align-content: flex-start; 
    justify-content: flex-start; 
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.introText {
    /* display: flex; */
    /* height: 40%; */
    padding: 2% 5%;
    margin: 0 7.9%;
    background-color: #3D3659;
    flex-basis: 80%;
    /* border: 1px solid #FDD564; */
    border: 0.2em solid #332d49;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
    box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
    
}
/* INTRO PAGE FORM */
.formContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 5em;
    overflow: hidden;
    /* flex-basis: auto; */
    /* background-color: #3D3659; */
    /* margin: 0 7.9%; */
    height: 6.1em;
    margin: 2% auto 0 auto;
    /* border: 1px solid #FDD564; */
    border-radius: 4px;
    flex-basis: 80%;
    width: 40%;
}

.userForm
{
    display: flex;
    /* background-color: #F6F7F8; */
    /* border: 1px solid #D6D9DC; */
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    padding: 1em;
    /* margin: 0 0 0 0; */
}

.form-row input[type='text'] {
  background-color: #e9edf1;
  color:#3D3659;
  /* border: 2px solid #D6D9DC; */
  /* border: 0.03em solid #332d49; */
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  border: none;
  -webkit-box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
    box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
  
}

.form-row ::placeholder {
    color:#3D3659;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 1em;
  }


.choiceBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-basis: 80%;
    /* margin: 0 7.9%; */
    
}

.quizChoice {
    background-color: #3D3659;
    flex-basis: 40%;
    height: 6.1em;
    /* max-height: 20%; */
    color: #FDD564;
    border: 0.2em solid #332d49;
    margin: 2% 2%;
    text-align: center;
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
    box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
}

.quizTitle {
    margin-top: 0.25em;
    min-height: 0;
    align-self: center;
    font-size: 2.2em;
    padding: 0.5rem;
    max-height: 2.6em;
}

.quizTitle:hover {
    cursor: pointer;
    /* border-bottom: 0.07em solid #f5f5f5; */
    color:#f5f5f5;
}
.quizTitle:active {
    color:#f5f5f5;
}



.gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyText{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;  
    color: #f5f5f5;
    margin-top: 1em;
    text-align: center;
}


#playButton {
    background-color: transparent;
    width: 74px;
    height: 74px;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent transparent transparent #FDD564;
    border-width: 37px 0px 37px 64px;
    outline:none;
    margin-left: 25px;
    margin-top: 1.5%;
    margin-bottom:2%;
    padding: 0px; /* fixing triangle proportions on all browsers */
    /* border: 1px dotted #FDD564; */
  }

  #playStart {
      border: 1px dotted #FDD564;
  }










/* MEDIA QUERIES */

/* Desktop Styles */

@media only screen and (min-width: 801px) {
    html {
        font-size: 87.5%;
    }
    .page {
      width: 801px;
      height: 91%;
    }
  }

@media only screen and (min-width: 970px) {
    html {
        font-size: 87.5%;
    }
    .page {
      width: 970px;
      height: 91%;
    }
    .mainTitle {
        font-size: 8em;
    }
    
  
  }