* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
font-size: 62.5%;
height: 100%;
width: 100%;
}

body {
    background: 
        linear-gradient(
        rgba(53, 47, 75, 0.65), 
        rgba(53, 47, 75, 0.65)
        ),
        url(../images/background2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: #f5f5f5;
    line-height: 1.5;
    letter-spacing: .045em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    width: 100%;
    /* border: 2px dotted #FDD564; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* overflow: hidden; */
    flex-basis: 100%;
    margin-bottom: 0.3em;
}



/* —————————————————— INTRO PAGE  —————————————————— */

.mainTitle {
    text-align: center;
    font-size: 7em;
    font-family: 'Knewave', cursive;
    /* margin-top: 0.25em; */
    -webkit-text-stroke: 3px #352f4b;
    -webkit-text-fill-color: #FBF59B;
    -webkit-paint-order: stroke fill;
}



.introArea {
    /* background-color: #3D3659; */
    min-height: 0;
    height: 100%;
    /* max-height: 95%; */
    /* border: 2px solid #FDD564; */
    /* display: flex; */
    /* align-content: flex-start; 
    justify-content: flex-start;  */
    flex-direction: column;
    /* align-items: center; */
    overflow-y: auto;
}

.introTextArea {
    /* display: flex; */
    /* height: 40%; */
    padding: 2% 5%;
    margin: 0 10%;
    background-color: rgb(53, 47, 75);
    /* flex-basis: 80%; */
    /* border: 1px solid #FDD564; */
    border: 0.2em solid #332d49;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
    box-shadow: 4px 2px 8px rgb(31, 28, 43, 0.80);
    min-height: 45%;
}

.introBodyText {
    
    /* font-family: 'Nunito', sans-serif;; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 1.1em;  
    color: #f5f5f5;
    margin: 0.7em 0 0.7em 0;
    text-align: left;
    font-weight: 300;
    padding: 0em 2.5em;
}

    /* INTRO PAGE FORM */

.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    /* overflow: hidden; */
    /* background-color: #3D3659; */
    /* margin: 0 7.9%; */
    /* height: 6.5em; */
    margin: -1.3em auto 0 auto;
    /* border: 1px solid #FDD564; */
    border-radius: 4px;
    padding: 2% 5%;
}

.userForm {
    display: flex;
    /* background-color: #F6F7F8; */
    /* border: 1px solid #D6D9DC; */
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1em; */
    /* margin: 0 0 0 0; */
}

.form-row {
    display: flex;
    margin-top: 1.3em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* padding-top: 1em; */
    /* padding-bottom: 0.5em; */
    /* background: red; */
  }

.form-row button {
    
    font-size: 1.45em;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
    margin-top: 0.5em;
    padding: 0.45em 1.9em;
    background-color: #352f4b;
    color:#f5f5f5;
    cursor: pointer;
    border: 0.05em solid #332d49;
    -webkit-box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
    box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
}



.form-row input[type='text'] {
  background-color: #e9edf1;
  color:#3D3659;
  /* border: 2px solid #D6D9DC; */
  /* border: 0.03em solid #332d49; */
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 1.45em;
  font-family: 'Raleway', sans-serif;
  border: none;
  -webkit-box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
    box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
  
}
.userForm input:focus { 
    outline: 0.2rem solid rgb(31, 28, 43, 0.60);
    border-color: #3D3659;
    box-shadow: 0 0 10px #3D3659;
}

.form-row ::placeholder {
    color:#3D3659;
}

.form-row button:hover {
    background-color: rgb(67, 58, 104);
    /* -webkit-box-shadow: 0 0 8px rgb(31, 28, 43, 0.90);
    box-shadow: 0 0 20px rgb(31, 28, 43, 0.90); */
  }
  
  .form-row button:active {
    background-color: #352f4b;
    outline:none;
  }

  .form-row button:focus {
    outline: none !important;
  }
/* END INTRO PAGE FORM */

.choiceBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-basis: 100%;
    margin: 4.5% 10%;
    /* margin: 0 0; */
    /* border: 1px solid pink; */
    
}

.quizChoice {
    background-color: #352f4b;
    flex-basis: 40%;
    height: 5.5em;
    /* max-height: 20%; */
    color: #FBF59B;
    border: 0.2em solid #332d49;
    /* margin: 2%; */
    text-align: center;
    font-family: 'Kalam', cursive;
    /* font-family: 'knewave', cursive; */
    display: flex;
    justify-content: center;
    border-radius: 4px;
    -moz-box-shadow: 0 0 8px #1f1c2bcc;
    -webkit-box-shadow: 0 0 8px #1f1c2bcc;
    box-shadow: 0 0 8px #1f1c2bcc;
}

.quizTitle {
    margin-top: 0.25em;
    min-height: 0;
    align-self: center;
    font-size: 2em;
    padding: 0.4rem;
    max-height: 2.6em;
}

.quizTitle:hover {
    cursor: pointer;
    /* border-bottom: 0.07em solid #f5f5f5; */
    color:#f5f5f5;
}
.quizTitle:active {
    color:#f5f5f5;
}

/* END INTRODUCTORY PAGE / PAGE IS HIDDEN */


/* —————————————————— GAME PAGE  —————————————————— */



/* text-align: center;
font-size: 7em;
font-family: 'Knewave', cursive;
 margin-top: 0.25em; 
-webkit-text-stroke: 3px #352f4b;
-webkit-text-fill-color: #FBF59B;
-webkit-paint-order: stroke fill;  */

#player {
    display: block;
    margin-top: 100px;
    color: #FBF59B;
    font-size: 2em;
    }

.gameArea {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* border: 1px solid papayawhip; */
    flex-basis: 100%;
    overflow-y: auto;
}

.gameNavHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid palegreen; */
    width: 99%;
    height: 3.4em;
    
    background-color:#352f4b;
    font-family: 'Knewave', cursive;
    flex: none;
    /* background-color: transparent; */
    /* overflow: visible; */

   
    border: 0 0.4em 0.4em 0.4em solid #332d49;
    border-radius: 0.1em;
    -moz-box-shadow: 0 0 8px #1f1c2bcc;
    -webkit-box-shadow: 0 0 8px #1f1c2bcc;
    box-shadow: 0 0 8px #1f1c2bcc;
}

.arrowContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 3.3em;
    height: 2em;
    /* border: 1px solid powderblue; */
    margin-left: 2em;
   
}

.backArrow {
    font-family: 'Raleway', sans-serif;
    border: solid #FBF59B;
    border-width: 0 0.3em 0.3em 0;
    padding: 0.5em;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

 .backArrow:hover{
     cursor: pointer;
     border-color: #f5f5f5;
 } 

.gameTitle {
    align-self: center;
    /* border: 1px yellowgreen solid; */
    height: 50px;
    font-size: 2.4em;
    color: #FBF59B;
    padding-right: 1.8em;
    padding-bottom: 0.2em;
    margin: 0em auto 0.075em auto;
    /* border: 1px solid red;  */
    -webkit-text-stroke: 0.030em #352f4b;
    -webkit-text-fill-color: #FBF59B;
    -webkit-paint-order: stroke fill; 
}


.musicButtonsArea {
    display: flex;
    flex-direction: row;
    /* border: 1px solid gray; */
    justify-content: center;
    align-items: center;
    /* height: 8.5em; */
    margin: 2em 3em 1em 0em;
    flex: 1 0 auto;
    /* padding-top: 0.4em; */
    /* overflow: auto; */
}

#playButton {
    width: 8.5em;
    height: 8.5em;
    background-color: #FBF59B;
    -webkit-clip-path: polygon(85% 50%, 0 0, 0 100%);
    clip-path: polygon(85% 50%, 0 0, 0 100%);
    border: none;
    cursor: pointer;
    margin-right: 1em;
    position: relative;
}

/* edit in a div to go over play button as an X */
/* #playButton:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;;
    content: "\274c"; 
    font-size: 60px; 
    color: #352f4b;
    line-height: 100px;
    text-align: left;   
    overflow: visible;
} */

.skipButtonContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: flex-start;
    position: relative;
}

#skipButton {
    width: 3.5em;
    height: 3.5em;
    -webkit-clip-path: polygon(85% 50%, 0 0, 0 100%);
    clip-path: polygon(85% 50%, 0 0, 0 100%);
    background-color: #FBF59B;
    cursor: pointer;
    position: absolute;
}

#skipButtonSide {
    display: flex;
    background-color:#FBF59B;
    height: 2.9em;
    width: 0.714em;;
    position: relative;
    left: 2.75em; 
   
} 

.gameParts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 80%;
    /* padding-top: 0.3em; */
    /* flex-basis: 100%; */
    overflow-y: auto;
    align-content: flex-start;
   
    /* border: 1px solid pink; */
}

.gamePartBox {
    width: 45%;
    height: 15em;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1 0 auto;
    background-color: #352f4b;
    border: 0.2em solid #332d49;
    border-radius: 0.1em;
    padding: 0.5em 2em 2em 2em;
    margin: 0.3em 0.3em;
    -moz-box-shadow: 0 0 8px #1f1c2bcc;
    -webkit-box-shadow: 0 0 8px #1f1c2bcc;
    box-shadow: 0 0 8px #1f1c2bcc;
}

.gamePartBox h2 {
    font-family: 'Kalam', cursive;
    color: #FBF59B;
    text-align: center;
    font-size: 1.75em; 
}

/* SONG GUESS FORM */

.formContainer-guess {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 4px;
    flex: none;
}

.form-row.song {
    display: flex;
    /* margin: auto; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1.3em;
    /* padding-top: 1em; */
    /* padding-bottom: 0.5em; */
    /* background: red; */
  }

.form-row button {
    width: 10.2em;
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    color:#FBF59B;
    /* border-color:#FBF59B; */
    border: .078em solid #FBF59B;
    font-weight:bold;
    border-radius: 2px;
    margin-top: 0.5em;
    padding: 0.45em 1.9em;
    cursor: pointer;
    /* border: 0.05em solid #332d49; */
    -webkit-box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
    box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
    -webkit-appearance: none;
    
}

.form-row input[type='text'] {
  background-color: #e9edf1;
  color:#3D3659;
  /* margin-top: -2.1em; */
  border-radius: 2px;
  width: 100%;
  height: 2.32em;
  padding: 5px;
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
  border: none;
  -webkit-box-shadow: 0 0 8px rgb(31, 28, 43, 0.80);
    box-shadow: 0 0 8px rgb(31, 28, 43, 0.80); 
  -webkit-appearance: none;
  
  
}
.userForm input:focus { 
    outline: 0.2rem solid rgb(31, 28, 43, 0.60);
    border-color: #3D3659;
    box-shadow: 0 0 10px #3D3659;
}

.form-row::placeholder {
    color:#3D3659;
}

.form-row button:hover {
    background-color:#FBF59B;
    color:#3D3659;
    border-color: none;
    /* -webkit-box-shadow: 0 0 8px rgb(31, 28, 43, 0.90);
    box-shadow: 0 0 20px rgb(31, 28, 43, 0.90); */
  }
  
  .form-row button:active {
    background-color: rgb(228, 223, 152);
    outline:none;
  }

  /* END SONG GUESS FORM */

  #timer {
      margin: auto;
      font-family: 'Kalam', cursive;
      color:#eb7d80;
      color: #f5f5f5;
      text-align: center;
      font-size: 8.5em;  
  }


  /* Hint Area Box */
  .yearHintBox, .albumHintBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    min-height: 25%;
    font-size: 1.3em;
    font-weight: 400;
    font-style: italic;
    /* padding-bottom: 0.35em; */
  }
  

.albumHintBox {
/* border: 1px solid pink; */
    padding-top: 0.2em;
    max-height: 4em;
    margin-top: 0.1em;
    overflow-y: auto;
}
.yearHintBox {
    /* border: 1px solid pink; */
    padding-top: 0.4em;
    min-height: 3em;
    max-height: 3em;
    margin-top: 0.2em;
    }

#yearHintText, #albumHintText
{
    text-align: center;
    font-weight: 300;
    font-style: normal;
    line-height: 1.2;
    min-height: 1.5em;
    margin-top: 0.2em;
    /* color: #FBF59B; */
    /* border: 1px solid red; */
    /* font-size: 1.1em; */
}

#yearHintText {
    margin-top: 0.1em;
    margin-bottom: 0.3em;
}

#albumHintText {
    margin-top: 0.2em;
    min-height: 1.5em;
}
/* END HINT AREA BOX*/
  
.guessList {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4em;
    text-align: center;
    min-width: 100%;
    min-height: 90%;
    align-content: flex-start;
}

.guessList p {
    min-height: 1em;
    margin-bottom: 0.3em;
    line-height: 1.2em;
}

#statusMessage {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    text-align: center;
    min-width: 100%;
    min-height: 70%;
    padding: 0.35em 2.2em 0em 2.2em;
}

.scoreContainer {
    display: flex;
    flex-flow: column nowrap;
    min-height: 65%;
    text-align: center;
    height: 100%;
    align-content: flex-start;
    /* align-content: center; */

}
    
.scoreHeader {
    font-size: 1.4em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
}

#scoreText, #totalScoreText {
    min-height: 2em;
    font-size: 1.5em;
    font-family: 'Kalam', cursive;
    color: #FBF59B;
    margin-top: 0.1em;
}

.bigScoreArea {
    border: 1px solid salmon;
    margin-top: 200px;
}


/* —————————————————— END GAME PAGE  —————————————————— */


  
/* —————————————————— MEDIA QUERIES —————————————————— */

/* Desktop Styles */

@media only screen and (min-width: 801px) {
    html {
        font-size: 87.5%;
    }
    .page {
      width: 801px;
      height: 91%;
    }
    #yearHintText, #albumHintTex {
        text-align: center;
        font-weight: 300;
        font-style: normal;
        line-height: 1.2;
        min-height: 1.4em;
        margin-top: 0.2em; 
     }
     .yearHintBox {
        margin-top: 0.3em;
    }
    .albumHintBox {
        overflow-y: visible;
    }
    #scoreText, #totalScoreText {
        font-size: 1.7em;  
    }
}
@media only screen and (min-width: 970px) {
    html {
        font-size: 87.5%;
    }
    .page {
      width: 970px;
      height: 91%;
    }
    .gamePartBox {
        width: 30%;
        height: 17em;
        display: flex;
    }
    .yearHintBox, .albumHintBox {
        font-size: 1.4em;
        font: 400;
        font-style: italic;
        padding-bottom: 0.5em;
        margin-bottom: 1em;
      }
      .yearHintText, .albumHintText {
          margin-top: 3em;
      }
      .formContainer { 
          margin: -2.1em auto 0 auto;
     }
     .musicButtonsArea {
        margin: 3.2em 3em 2.2em 0em;
     }
}
    
@media only screen and (min-width: 970px) and (min-height:800px) {
        .mainTitle {
            font-size: 7.5em;
        }
        .musicButtonsArea {
            margin: 5em 3em 4em 0em;
        }
    }